:root 
{
    --pink: #E82B63;
    --dark: #1D232F;
    --blue: #305581;
    --light: #5B7290;
    --black: #000000;
    --white: #ffffff;
    --medium: #394657;
}



  body {
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  
  
  
  
  #toggle {
    display: none;
  }
  
  
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 2em;
    right: 5%;
    width: 2em;
    height: 2em;
    z-index: 5;
  }
  .hamburger div {
    position: relative;
    width: 2.5em;
    height: 3px;
    border-radius: 3px;
    background-color: var(--white);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--medium);
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 1.3em;
    display: inline-block;
    margin-top: 1em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:hover {
    color: var(--light);
  }
  
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: 0px;
  }
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  
  
  
  
  /* header */
  #header
  {
      display: flex;
  }
  
  #logoPart
  {
      width: 25%;
      z-index: 4;
  }
  
  #logo
  {
      margin-left: 0em;
      margin-top: 2.2em;
      margin-bottom: 2em;
      height: 1.5em;
  }
  
  #activeMenu
  {
    color: var(--pink);
  }
  
  #menuPart
  {
      width: 25%;
      float: right;
  }
  
  #menu
  {
      margin-right: 4em;
      margin-top: 2em;
      margin-bottom: 2em;
      height: 3em;
      float: right;
  }
